<div class="row">
  <aside class="col-md-4">
    <%= render 'user_info' %>
  </aside>

  <div class="col-md-8">
    <h3><%= @title %></h3>
    <ul>
    <% @users.each do |user| %>
      <div class="table">
        <tr>
          <th><%= link_to gravatar_for(user, size: 30), user %></th>
          <td><%= link_to user.name, user %></td>
      </tr>
      </div>
    <% end %>
    </ul>
  </div>
</div>