<h1>Welcome#home</h1>
<p>Find me in app/views/welcome/home.html.erb</p>

<p>POST</p>
<%= link_to "POST", create_welcome_path, method: :post %>
<p>booklog</p>
<%= link_to "booklog", booklog_welcome_path, method: :post %>
<p>amazon</p>
<%= link_to "amazon", amazon_welcome_path, method: :post %>
<p>bookmeter</p>
<%= link_to "bookmeter", bookmeter_welcome_path, method: :post %>
